@import "mixins";

.text-to-center {
    text-align: center;
}

.flex {
    @include flex-wrapper-row(0, 0, auto, center);
}

.custom-title {
    color: var(--color-secondary);

    > small {
        display: block;
        font-size: .6em;
        color: red;
    }
}
